.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    font-family: "Inter", sans-serif;
}
p {
    font-size: 15px;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-left {
    background-image: url("assets/images/logo.svg");
}

.nav-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;

}