.attribution { font-size: 11px; text-align: center; margin-top: 40px;}
.attribution a { color: hsl(228, 45%, 44%); }

h1, h2, h3 { 
    margin: 0px;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

p {
    font-size: 15px;
    font-weight: 400px;
    margin: 0px;
    color: hsl(236, 13%, 42%);
    line-height: 1.8;
}

ul {
    list-style-type: none;

    & li a {
        text-decoration: none;
        color: black;
    }
    
    & li a:hover {
        color: hsl(5, 85%, 63%);
    }
}


.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.off-screen-menu {
    height: 100vh;
    width: 70%;
    background-color: white;
    top: 0;
    position: fixed;
    left: 100%;
    z-index: 3;
    transition: 0.4s;

    & .off-screen-menu-top-container {
        display: flex;
        justify-content: flex-end;
        margin: 20px;

        & .close-icon {
            cursor: pointer;
            background-image: url("assets/images/icon-menu-close.svg");
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
        }
    }

    & .off-screen-menu-mid-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
}

.off-screen-menu.is-active {
    left: 30%;
}

.container {
    margin: 50px 8%;
    @media (max-width: 931px) {
        display: flex;
        flex-direction: column;
        margin: 25px 4%;
    }
    & .nav-bar {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 55px;
        @media (max-width: 931px) {
            margin-bottom: 25px;
        }
        & .nav-left {
            & .icon {
                background-image: url("assets/images/logo.svg");
                background-repeat: no-repeat;
                height: 40px;

                @media (max-width: 931px) {
                    height: 30px;
                    background-size: contain;
                }
            }
        }
        & .hamburger {
            display: none;
            @media (max-width: 931px) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            & .hamburger-icon {
                background-image: url("assets/images/icon-menu.svg");
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
                pointer: cursor;
                @media (min-width: 932px) {
                    display: none;
                }
            }
        }


        /*right nav bar styles*/
        & .nav-right {
            display: grid;
            justify-self: end;
            grid-template-columns: repeat(5, fit-content(50px));
            justify-items: center;
            align-items: center;
            grid-gap: 35px;

            @media (max-width: 931px) {
                display: none;
            }

        }
    }

    & .mid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 35px;
        margin-bottom: 85px;
    
        @media (max-width: 931px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }
        
        /* section with banner, title and action button */
        & .mid-left-container {
            display: grid;
            grid-template-rows: 2fr 1fr;
            grid-template-columns: 1fr 1fr;
            
            @media (max-width: 931px) {
                grid-template-rows: 3fr 1fr 2fr;
                grid-template-columns: 1fr;
            }
    
            & .banner-section {
                background-image: url("assets/images/image-web-3-desktop.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                grid-column-start: 1;
                grid-column-end: 4;
                margin-bottom: 35px;
            
                @media (max-width: 931px) {
                    background-image: url("assets/images/image-web-3-mobile.jpg");
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
            }
        
            & .title-section {
                font-weight: 800;
                font-size: 60px;
                padding-right: 40px;
                line-height: 1;
                @media (max-width: 931px) {
                    font-size: 2.5rem;
                }
            }
        
            & .info-section {
                padding-right: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width: 931px) {
                    margin-top: 1.5em;
                    justify-content: normal;
                }
    
                & .action-button {
                    border-radius: 0px;
                    background-color: hsl(5, 85%, 63%);
                    color: white;
                    width: 50%;
                    height: 50px; 
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    border-width: 0px;
                    margin-top: 40px;
                }
    
                & .action-button:hover {
                    cursor: pointer;
                    background-color: hsl(240, 100%, 5%);
                }
            }
        }
        
        /* section with list of new articles */
        & .mid-right-container {
            background-color: hsl(240, 100%, 5%);
            & h2 {
                color: hsl(35, 77%, 62%);
                font-size: 40px;
                padding-left: 25px;
                margin-top: 30px;
            }
            & ul {
                padding-left: 0px;
                list-style: none;
                margin: 0px 30px;
            }
        
            & li {
                margin: 30px 0px;
            }
            & hr {
                border: none;
                background-color: hsl(236, 13%, 42%);
                height: 1px;
            }
            & p {
                color: hsl(233, 8%, 79%);
            }
            & h3 {
                color: hsl(36, 100%, 99%);
                margin-bottom: 15px;
                font-size: 20px;
            }
            & h3:hover {
                cursor: pointer;
                color: hsl(35, 77%, 62%);
            }
        }
    }

    /* section with top 3 articles */
    & .bottom-container {
        & li {
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 25px;
        }
    
        & ul {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            column-gap: 20px;
            list-style: none;
            padding-left: 0px;
            min-height: 140px;
            
            @media (max-width: 931px) {
                grid-template-rows: repeat(3, 1fr);
                row-gap: 1.5em;
            }
        }
        & h2 {
            color: hsl(233, 8%, 79%);
            font-size: 30px;
        }
        & .article-image { 
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        & h3:hover {
            cursor: pointer;
            color: hsl(5, 85%, 63%);
        }
    
        & .article-info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}




